.registro-container{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    padding-block: 15px;
    padding-inline: 20px;
    background-color: white;
}
.registro-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.registro-header-right{
    display: flex;
    flex-direction: row;
    gap: 20px;
    select option{
        border-radius: 0;
    }
}
.table-registro{
    width:100%;
    border-top: 0;
    th{
        opacity: 0.5;
        padding-block: 5px;
        text-align: start;
    }
    td{
        padding-bottom: 5px;
    }
}
.table-registro, .table-registro th, .table-registro td{
    border-collapse: collapse;
    padding-inline: 20px;
}