@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
*{
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

body{
  background-color: #f6f9fa;
}

main{
  margin-left: 206px;
  margin-top: 56px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#root{
  gap: 20px;
  display: flex;
  flex-direction: column;
}