li:hover{
    background-color: #d1d1d1;
    cursor: pointer;
}

.sidebar{
    background-color: white;
    box-shadow: -10px 66px 15px black;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar li {
    padding-block: 10px;
    padding-left: 5px;
    width: 200px;
}
.sidebar span{
    font-weight: 300;
}
.sidebarIcon{
    font-size: 20px;
    margin-inline: 5px;
    width: 30px;
    text-align: center;
}

.sidebar-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.501);
}
.sidebar-header img{
    width: 30px;
    margin-block: 5px;
}

.sidebar-footer{
    border-top: 1px solid rgba(193, 193, 193, 0.501);
    padding-block: 10px;
    bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sidebar-footer li:hover{
    color: red;
}